$bg: rgb(14, 14, 14);
.banner{
    height: 700px;
    padding: 3rem;
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    transition: all 0.5s;

    &:hover{
        opacity: 0.9;
    }

    &::after{
        content: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $bg;
        opacity: 0.5;
        top: 0;
        left: 0;
    }
    
    h1,p{
        color: white;
        font-size: 3rem;
        z-index: 10;
        width: 40%;
    }
    h1{
        font-weight: 550;
    }
    p{
        font-size: 1.2rem;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: 200;
    }
    >div{
        display: flex;
    }
    button{
        padding:1rem;
        width: 150px;
        outline: none;
        border: none;
        border-radius: 8px;
        margin: 1rem;
        background-color: white;
        z-index: 10;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s;

        &:hover{
            opacity: 0.7;
        }

        &:nth-child(odd){
        background-color: white;
        }
        &:nth-child(even){
        background-color: rgb(157, 151, 151);
        color: white;
        }
        svg{
            font-size: 1.3rem;
            margin: 0 5px;
        }
    }
}
.row{

        background-color: $bg;  
    >h2{
        color:white;
        font-weight: 400;
        margin-left: 20px;
    }
    >div{
        display: flex;
        overflow-x: auto;
        padding: 10px;
        justify-content: center;
    }
}
.card{
    width: 200px;
    cursor: pointer;
    margin: 0.5rem;

    //This is the use of transition property of CSS
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px);
    }
}
.genreBox{
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: $bg;
    >a{
        text-align: center;
        text-decoration: none;
        color: rgb(218, 211, 211);
        background-color: red;
        padding: 1rem 0 ;
        margin: 1rem;
        border-radius: 5px;
        font-size: 1.1rem;
        transition: all 0.5s;
        min-width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: rgb(163, 9, 9);
        }
    }
}